@keyframes beShow {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes beHide {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
@keyframes goRight {
    from {
        opacity: 0;
        transform: translateX(0);
    }
    to {
        opacity: 1;
        transform: translateX(45%);
    }
}
@keyframes goLeft {
    from {
        opacity: 0;
        transform: translateX(0);
    }
    to {
        opacity: 1;
        transform: translateX(-45%);
    }
}
@keyframes goDown {
    from {
        opacity: 0;
        transform: translateY(-100%);
    }
    to {
        opacity: 1;
        transform: translateY(0%);
    }
}
@keyframes goUp {
    from {
        opacity: 0;
        transform: translateY(100%);
    }
    to {
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes hrAction {
    from {
        transform: scaleY(1);
    }
    to {
        transform: scaleY(2);
    }
}
