@font-face {
    font-family: 'icomoon';
    // src: url('../fonts/icomoon.eot');
    src: url('../fonts/icomoon.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'dosis';
    // src: url('../fonts/icomoon.eot');
    src: url('../fonts/dosis.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bitter';
    // src: url('../fonts/icomoon.eot');
    src: url('../fonts/bitter.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
