$fontfamily: dosis, 'HelveticaNeue-CondensedBold', 'trebuchet ms', 'Microsoft YaHei', 'PingFang SC', 'Hiragino Sans GB',
    arial, sans-serif;

$nav_color: #ffffff;
$nav_link_color: #888;
$nav_visited_color: #444555;
$nav_hover_color: #fffff5;
$nav_font_color: #555555;
$content_text_color: #fffff5;

$main_color: #f9f4ed;
$main_color_op7: #ffffff88;
$sub_color: rgb(204, 104, 104);
$sub_color_op7: rgb(235, 180, 180);
$font_color: #444444;
$light_color: rgba(85, 85, 85, 0.226);
