*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html {
    overflow-x: hidden;
    width: 100vw;
    font-size: 10px;
    color: $font_color;
    background-color: #f9f4ed;
}
*,
body {
    position: relative;
    margin: 0;
    padding: 0;
}
#app {
    display: block;
    margin: auto;
    padding: 5rem 0;
    font-size: 2.4rem;
    font-family: $fontfamily;
    color: $font_color;
    line-height: 1.5;
    max-width: 732px;
    min-width: 320px;
    overflow: hidden;
    a {
        text-decoration: none;
        outline: none;
        cursor: pointer;
    }
    button {
        outline: none;
    }
}
.sub-page {
    height: 110vh;
    overflow: auto;
}
