.ico {
    &::before {
        font-family: 'icomoon';
        font-style: normal;
        font-weight: normal;
        line-height: 1;
        // width: 3em;
        text-align: center;
        letter-spacing: normal;
        display: inline-block;
        vertical-align: -10%;
        -webkit-font-smoothing: antialiased;
    }
    &-note::before {
        content: '\e905';
    }
    &-menu::before {
        content: '\e9bf';
    }
    &-photo::before {
        content: '\e90f';
    }
    &-project::before {
        content: '\e9c9';
    }
    &-profile::before {
        content: '\e923';
    }
    &-remove::before {
        content: '\ea0f';
    }
    &-instagram::before {
        content: '\ea92';
    }
    &-facebook::before {
        content: '\ea91';
    }
    &-telegram::before {
        content: '\ea95';
    }
    &-gmail::before {
        content: '\ea8a';
    }
    &-github::before {
        content: '\eab0';
    }
    &-phone::before {
        content: '\e942';
    }
    &-expand::before {
        content: '\ea50';
    }
}
