.banner {
    // position: relative;
    width: 100%;
    height: 58rem;
    .gh {
        position: absolute;
        width: 30rem;
        height: 40rem;
        top: 18rem;
        left: 20rem;
        &_black {
            z-index: 5;
        }
        &_main {
            opacity: 0;
            z-index: 4;
        }
        &_left {
            opacity: 0;
            z-index: 3;
        }
        &_right {
            opacity: 0;
            z-index: 2;
        }
    }
    &__action {
        .gh_black {
            animation: beHide 2s alternate 1s forwards;
        }
        .gh_main {
            animation: beShow 2s alternate 1s forwards;
        }
        .gh_left {
            animation: goLeft 2s alternate 2s forwards;
        }
        .gh_right {
            animation: goRight 2s alternate 2s forwards;
        }
    }
}
