.home {
    &-section {
        font-size: 2.8rem;
        opacity: 0;
        margin: 2rem 0;
        &__action {
            animation: goUp 2s alternate 6s forwards;
        }
    }
    &-title {
        font-weight: bold;
        padding: 2rem 4rem;
        letter-spacing: 0.5rem;
        // text-align: center;
        .ico::before {
            margin-right: 2rem;
            font-size: 3rem;
        }
        .ico-expand {
            position: absolute;
            right: 5rem;
            margin: 0;
            cursor: pointer;
            &::before {
                margin: 0;
                transform: rotate(180deg);
            }
            &__expand {
                margin: 0;
                &::before {
                    margin: 0;
                    transform: rotate(0deg) translateY(1rem);
                }
            }
        }
    }
    &-list {
        display: flex;
        flex-direction: column;
    }
    &-item {
        cursor: pointer;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        font-size: 3.6rem;
        letter-spacing: 3px;
        padding: 3rem 4rem;
        border-top: 0.1rem solid $light_color;
        &-subtitle {
            font-size: 2.8rem;
            color: $light_color;
        }
        &:hover {
            color: $sub_color;
            background-color: $main_color_op7;
        }
        img {
            border: 0.6rem solid $font_color;
            border-radius: 1rem;
            width: 15rem;
            box-sizing: border-box;
        }
    }
    &-footer {
        width: 100%;
        font-family: bitter;
        display: flex;
        justify-content: center;
        span {
            margin: 0 2rem;
        }
    }
}
