.nav {
    z-index: 999;
    position: absolute;
    width: 100%;
    max-width: 732px;
    height: 50rem;
    padding: 0;
    top: -50rem;
    left: 0;
    background: $sub_color;
    border-radius: 0 0 0.25em 0.25em;
    overflow: hidden;
    transition: top 0.5s cubic-bezier(0.0125, 0.025, 0, 1);
    &-active {
        top: 0;
    }
    &-header {
        width: 100%;
        display: grid;
        grid-template-columns: 85% 15%;
        grid-template-rows: 8rem;
        li {
            cursor: pointer;
            display: flex;
            align-items: center;
            border: 0.01rem solid $light_color;
            a {
                line-height: 3;
                width: 100%;
                height: 100%;
                color: $main_color;
            }
            &:hover {
                background-color: $sub_color_op7;
            }
            &:nth-of-type(2) {
                justify-content: center;
                a {
                    text-align: center;
                }
            }
        }
        .home-link {
            text-indent: 1.5em;
        }
    }
    &-menu {
        width: 100%;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 20rem 20rem;
        li {
            transition: background 0.2s ease-in-out;
            border: 0.01rem solid $light_color;
            a {
                color: $main_color;
                height: 100%;
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .ico {
                    font-size: 5rem;
                    &::before {
                        width: 100%;
                    }
                }
            }
            &:hover {
                background-color: $sub_color_op7;
            }
        }
    }
    &-tigger {
        z-index: 99;
        position: absolute;
        top: 2rem;
        right: 0;
        color: $font_color;
        font-size: 4rem;
        width: 6rem;
        height: 6rem;
        .ico {
            &::before {
                opacity: 0;
            }
        }
        &:hover {
            background-color: $main_color;
            .ico {
                color: $sub_color;
            }
        }
        &__action {
            .ico {
                &::before {
                    animation: goLeft 2s alternate 2s forwards;
                }
            }
        }
    }
}
